body {
	padding: 0;
	margin: 0;
	height: 1080px;
	background: linear-gradient(#2A363B,#99B898);
	color:white;
	font-family: 'Amatic SC', cursive;
	font-size:3em;
	
}

canvas {
	top:50%;margin-top:-10px;
	vertical-align: top;
	margin-left:65px;
	margin-top: 70px;
	border: 2px solid;
	border-radius:10px;
}


